doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
    link(rel="stylesheet", type='text/css', href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css")       
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Mynerve&family=Quicksand&family=Josefin+Sans&family=Roboto&family=Satisfy&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="images/dashboard.ico")
  body
    .container 
      header.header 
        a(href='/').homepage-link
          p.app-title Inventory Dashboard 
        nav.nav
          a(href='/items')
            p All items
          a(href='/category/create')
            p Create category
          a(href='/item/create')
            p Create item
      main.content
        block content
      button.home-button 
        a(href="/") 
          span(class='material-symbols-outlined home-icon')
            | home
      footer.footer 
        div.github-link-container
          a(href="https://github.com/Haminimi", aria-label='GitHub').github-link
            i.devicon-github-original(aria-hidden='true')
          
